<link rel="stylesheet" href="/css/dashboard.css" />

<div class="container center">
  <div class="posts">
    {{#if posts.length}}

    {{#each posts as |post|}}
    <div class=" msg center">
      <button class="red waves-effect waves-light delete-btn left" data-id={{post.id}} name="delete">Delete
        Post</button>

      <a href="/dashboard/edit/{{post.id}}">
        <button class="blue waves-effect waves-light edit-btn right comment-btn" data-id={{post.id}} name="edit">Edit
          Post</button>
      </a>
      <p class="user center">
        {{ post.title }}
      </p>
      <ul class="timeStamp grey-text">
        <li>
          {{ format_time post.createdAt }}
        </li>
        <li>
          {{ user.username }}
        </li>
      </ul>
      <p>
        {{ post.content }}
      </p>
    </div>
    <div class="comments">

      <ul class="collapsible ">
        <li>
          <div class="collapsible-header black"><i class="material-icons">chat_bubble</i>Comments</div>
          {{#if comments.length}}
          {{#each comments as |comment|}}
          <div class="collapsible-body"> <span class="left">{{ user.username }}:</span> <span class="left">
              {{comment.content}}</span></div>
          {{/each}}
          {{else}}
          {{/if}}
        </li>
      </ul>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<div class=" msg center">
  <p class="timeStamp grey-text">
    No posts yet
  </p>
</div>
{{/if}}


<script src="/js/deletePost.js"></script>