<link rel="stylesheet" href="/css/postingStyle.css" />
<div class="container post">
  <div class="center">
    <form class="col s12 m1 new-msg-form">
      <!-- Title input -->
      <div class="input-field col s12">
        <input id="title-input" type="text" class="grey-text">
        <label for="post-title">Title</label>
      </div>
      <!-- send button -->
      <!-- Message input -->
      <div class="input-field col s6 center" id="custom-input">
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <button class="btn red waves-effect waves-light" type="submit" name="send">post
          <i class="material-icons right">send</i>
        </button>
        <label for="icon_prefix2">Message</label>
      </div>
    </form>
  </div>
</div>


<div class="container center">
  <div class="posts post-comments">
    {{#if posts.length}}

    {{#each posts as |post|}}
    {{!-- removed container here --}}
    <div class="msg">
      <p class="user center">
        {{ post.title }}
      </p>
      <ul class="timeStamp grey-text">
        <li>
          {{ format_time post.createdAt }}
        </li>
        <li>
          {{ user.username }}
        </li>
      </ul>
      <p>
        {{ post.content }}
      </p>
    </div>
    {{!-- removed container here --}}
    <div class="comments" data-id="{{post.id}}">

      <ul class="collapsible ">
        <li>
          <div class="collapsible-header black"><i class="material-icons">chat_bubble</i>{{ format_plural
            post.comments.length "Comment" }}</div>
          {{#if post.comments.length}}
          {{#each post.comments as |comment|}}
          <div class="collapsible-body"><span class="left">{{ user.username }}:</span> <span
              class="left"></span><span class="left">{{comment.content}}</span></div>
          {{/each}}
          {{else}}
          <div class="collapsible-body"><span>No comments yet</span></div>
          {{/if}}
          <div class="collapsible-body">
            <div class="col s12 new-comment-form">
              <div class="row">
                <div class="input-field col s12">
                  <textarea class="materialize-textarea comment-content"></textarea>
                  <label for="textarea1">Leave a comment</label>
                  <button class="btn red waves-effect waves-light comment-btn" data-id={{post.id}} type="submit">{{format_plural post.comments.length 'Comment'}}
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<div class="container msg center">
  <p class="timeStamp grey-text">
    No posts yet
  </p>
</div>
{{/if}}

<script src="/js/createPost.js"></script>
<script src="/js/createComment.js"></script>